# HTTP server
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=docker-dev-prod

# Docker Compose (dev): port postgres, not required (default 5435)
DB_PUBLISHED_PORT=5435
